/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scilus/sf-pediatric Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                                   = null
    participant_label                       = null
    input_deriv                             = null
    bids_script                             = "${projectDir}/bin/BIDSLayout.py"

    //** Segmentation Options **//
    // FastSurfer options
    method                                  = "recon-all-clinical"
    fs_license                              = null
    cerebnet                                = false
    hypvinn                                 = false
    acq3T                                   = true
    fs_output_dir                           = null

    // Atlas options
    utils_folder                            = "${projectDir}/assets/FS_BN_GL_SF_utils/"

    // MCRIBS options
    mcribs_jointhresh                       = null
    mcribs_fastcollision                    = false
    mcribs_nopialoutside                    = false
    mcribs_seed                             = 1234

    //** T1 Preprocessing options **//
    // Setting steps to perform
    preproc_run_denoising                   = true
    preproc_run_N4                          = true
    preproc_run_resampling                  = true
    preproc_run_synthstrip                  = true
    preproc_run_ants_bet                    = false
    preproc_run_crop                        = true
    synthstrip_weights                      = null

    // Denoising
    t1_denoise_number_of_coils              = 1

    // N4
    t1_bias_bspline_knot_per_voxel          = 8
    t1_bias_shrink_factor                   = 4

    // Resample
    t1_resample_voxel_size                  = 1
    t1_resample_interp                      = "lin"

    // Brain extraction
    // Synthstrip
    t1_synthstrip_border                    = 1
    t1_synthstrip_nocsf                     = false

    //** T2 Preprocessing options **//
    // Denoising
    t2_denoise_number_of_coils              = 1

    // N4
    t2_bias_bspline_knot_per_voxel          = 8
    t2_bias_shrink_factor                   = 4

    // Resample
    t2_resample_voxel_size                  = 1
    t2_resample_interp                      = "lin"

    // Brain extraction
    // Synthstrip
    t2_synthstrip_border                    = 1
    t2_synthstrip_nocsf                     = false

    //** Coregistration options **//
    // Coregistration
    coreg_dimensionality                    = 3
    coreg_transform                         = "a"
    coreg_quick                             = false

    //** DWI Preprocessing options **//
    skip_dwi_preprocessing                  = false
    dwi_b0_threshold                        = 20
    dwi_shell_tolerance                     = 50

    // Denoising
    preproc_dwi_run_denoising               = true
    dwi_denoise_patch_size                  = 7

    // Gibbs
    preproc_dwi_run_degibbs                 = false

    // Topup
    topup_eddy_run_topup                    = true
    dwi_susceptibility_config_file          = "b02b0.cnf"
    dwi_susceptibility_output_prefix        = "topup_results"
    dwi_susceptibility_readout              = 0.040
    dwi_susceptibility_encoding_dir         = "y"

    // Eddy
    topup_eddy_run_eddy                     = true
    dwi_motion_and_eddy_command             = "eddy_cpu"
    dwi_motion_and_eddy_bet_f_threshold     = 0.16
    dwi_motion_and_eddy_restore_slices      = true

    // Powderaverage
    dwi_pwdavg_shells                       = null

    // Synthstrip
    dwi_run_synthstrip                      = true
    dwi_synthstrip_border                   = 1
    dwi_synthstrip_nocsf                    = false
    dwi_synthstrip_weights                  = "$projectDir/assets/synthstrip.infant.1.pt"

    // FSL bet
    dwi_bet_f_threshold                     = 0.16

    // N4
    preproc_dwi_run_N4                      = true
    dwi_bias_bspline_knot_per_voxel         = 8
    dwi_bias_shrink_factor                  = 4

    // Normalize
    dwi_normalize_fa_mask_threshold         = 0.4

    // Resample DWI
    preproc_dwi_run_resampling              = true
    dwi_resample_voxel_size                 = 1
    dwi_resample_interp                     = "lin"

    // Resample mask
    dwi_resample_mask_voxel_size            = 1
    dwi_resample_mask_interp                = "nn"

    //** Reconstruction options **//
    // DTI Metrics
    dti_max_shell_value                     = 1600
    dti_shells                              = null

    // FRF
    frf_fa                                  = 0.7
    frf_min_fa                              = 0.5
    frf_nvox_min                            = 300
    frf_roi_radius                          = 20
    frf_max_dti_shell_value                 = 1600
    frf_min_fodf_shell_value                = 700
    frf_set_method                          = "ssst"
    frf_manual_frf                          = null

    // FODF Metrics
    fodf_min_fodf_shell_value               = 700
    fodf_shells                             = null
    fodf_sh_order                           = 8
    fodf_sh_basis                           = "descoteaux07"
    fodf_set_method                         = "ssst"
    fodf_relative_threshold                 = 0.1
    fodf_a_factor                           = 2.0
    fodf_max_fa_threshold                   = 0.1
    fodf_min_md_threshold                   = 0.002

    // ** Tracking options ** //
    // PFT Tracking
    run_pft_tracking                        = true
    pft_fa_threshold                        = 0.2
    pft_seeding_mask_type                   = "wm"
    pft_random_seed                         = 1234
    pft_compress                            = true
    pft_compress_value                      = 0.2
    pft_algo                                = "prob"
    pft_nbr_seeds                           = 10
    pft_seeding_type                        = "npv"
    pft_step                                = 0.5
    pft_theta                               = 20
    pft_sfthres                             = 0.1
    pft_sfthres_init                        = 0.5
    pft_min_len                             = 20
    pft_max_len                             = 200
    pft_particles                           = 15
    pft_back                                = 2
    pft_front                               = 1

    // Local Tracking
    run_local_tracking                      = true
    local_fa_tracking_mask_threshold        = 0.4
    local_fa_seeding_mask_threshold         = 0.4
    local_seeding_mask_type                 = "wm"
    local_tracking_mask_type                = "wm"
    local_random_seed                       = 1234
    local_compress                          = true
    local_compress_value                    = 0.2
    local_algo                              = "prob"
    local_nbr_seeds                         = 10
    local_seeding_type                      = "npv"
    local_step                              = 0.5
    local_theta                             = 20
    local_sfthres                           = 0.1
    local_min_len                           = 20
    local_max_len                           = 200

    // ** BundleSeg Options ** //
    atlas_directory                         = null
    minimal_vote_ratio                      = 0.5
    outlier_alpha                           = 0.6

    // ** Tractometry Options ** //
    nb_points                               = 5
    colormap                                = "jet"
    use_hyperplane                          = false
    use_manhattan                           = false
    density_weighting                       = true
    normalize_weights                       = true
    length_stats                            = true
    endpoints_stats                         = true
    means_std                               = true
    volume                                  = true
    streamline_count                        = true
    volume_per_labels                       = true
    mean_std_per_point                      = true

    // ** Connectomics Options ** //
    // Transform labels options
    labels_transform_dimensionality         = 3
    labels_interpolation                    = "NearestNeighbor"
    labels_output_dtype                     = "int"
    labels_output_suffix                    = "_labels"

    // COMMIT options
    run_commit2                             = true
    commit2_lambda                          = 0.001
    commit_para_diff                        = null
    commit_iso_diff                         = null
    commit_perp_diff                        = null
    commit_ball_stick                       = false
    commit_nbr_dir                          = 500

    // Decompose Options
    decompose_no_pruning                    = false
    decompose_no_remove_loops               = false
    decompose_no_remove_outliers            = false
    decompose_no_remove_curv                = false
    decompose_min_len                       = 20
    decompose_max_len                       = 200
    decompose_outlier_threshold             = 0.6
    decompose_max_angle                     = 330.0
    decompose_max_curv                      = 10.0

    // AFD_Fixel Options
    afd_fixel_length_weighting              = false

    // Template Options
    template                                = null
    templateflow_home                       = "./templateflow"
    templateflow_res                        = 1
    templateflow_cohort                     = null
    use_template_t2w                        = false

    // MultiQC options
    multiqc_config                          = null
    multiqc_title_subject                   = "sf-pediatric MultiQC Subject Report"
    multiqc_title_global                    = "sf-pediatric MultiQC Global Report"
    multiqc_logo                            = null
    max_multiqc_email_size                  = '25.MB'
    multiqc_methods_description             = null

    // Boilerplate options
    outdir                                  = null
    publish_dir_mode                        = 'copy'
    email                                   = null
    email_on_fail                           = null
    plaintext_email                         = false
    monochrome_logs                         = false
    hook_url                                = null
    help                                    = false
    help_full                               = false
    show_hidden                             = false
    version                                 = false
    pipelines_testdata_base_path            = null
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name                     = null
    config_profile_description              = null

    custom_config_version                   = 'master'
    custom_config_base                      = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact                  = null
    config_profile_url                      = null

    // Profiles options
    tracking                                = false
    bundling                                = false
    connectomics                            = false
    segmentation                            = false

    // Lean output mode.
    lean_output                             = true

    // Schema validation default options
    validate_params                         = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        // apptainer.ociAutoPull   = true
        // singularity.ociAutoPull = true
        // wave.enabled            = true
        // wave.freeze             = true
        // wave.strategy           = 'conda,container'
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
    slurm {
        process {
            errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 126) ? 'retry' : 'finish' }
            maxRetries          = 1
            cache               = "lenient"
            afterScript         = "sleep 60"
            scratch             = true
        }

        executor {
            name                = 'slurm'
            queueSize           = 950
            queueGlobalStatus   = false
            queueStatInterval   = '3 min'
            submitRateLimit     = '10/1sec'
            exitReadTimeout     = '30 min'
            pollInterval        = '30 sec'
            jobName             = {
                task.name
                    .replace("[", "(")
                    .replace("]", ")")
                    .replace(" ", "_")
            }
        }
    }
    tracking {
        params.tracking         = true
    }
    bundling {
        params.bundling         = true
    }
    connectomics {
        params.connectomics     = true
    }
    segmentation {
        params.segmentation     = true
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load scilus/sf-pediatric custom profiles from different institutions.
//includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load scilus/sf-pediatric custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/sf-pediatric.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'docker.io'
docker.registry       = 'docker.io'
podman.registry       = 'quay.io'
singularity.registry  = 'docker.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'scilus/sf-pediatric'
    contributors    = [
        [
            name: 'Anthony Gagnon',
            affiliation: 'Université de Sherbrooke',
            email: 'anthony.gagnon7@usherbrooke.ca',
            github: '@gagnonanthony',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: 'https://orcid.org/0000-0002-4468-0269'
        ],
    ]
    homePage        = 'https://github.com/scilus/sf-pediatric'
    description     = """sf-pediatric is a neuroimaging pipeline to process pediatric MRI data (dMRI, and sMRI) ranging from 0-18 years old."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '0.1.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}
