/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scilus/nf-pediatric Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt * (executor.name == 'slurm' ? 2 : 1) }
    memory = { 6.GB   * task.attempt * (executor.name == 'slurm' ? 2 : 1) }
    time   = { 4.h    * task.attempt * (executor.name == 'slurm' ? 2 : 1) }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Enable the use of scratch to remove temporary files
    scratch = true

    // Apply to all processes
    ext.prefix = { [meta.id, meta.session?: ""].findAll { x -> x }.join("_") }

    // Process-specific resource requirements
    withLabel:process_single {
        cpus   = { 1 * task.attempt * (executor.name == 'slurm' ? 2 : 1)        }
        memory = { 6.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)     }
        time   = { 4.h  * task.attempt * (executor.name == 'slurm' ? 2 : 1)     }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        memory = { 8.GB * task.attempt  * (executor.name == 'slurm' ? 2 : 1)    }
        time   = { 4.h   * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_medium {
        cpus   = { 4     * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        memory = { 8.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)     }
        time   = { 8.h   * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_high {
        cpus   = { 6    * task.attempt * (executor.name == 'slurm' ? 2 : 1)     }
        memory = { 14.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        time   = { 16.h  * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_high_memory {
        memory = { 14.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_tracking {
        memory = { 15.5.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        time   = { 18.h  * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_ml {
        cpus   = { 8     * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        memory = { 16.GB * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
        time   = { 8.h   * task.attempt * (executor.name == 'slurm' ? 2 : 1)    }
    }
    withLabel:process_dynamic {
        cpus   = { 1 * task.attempt * (executor.name == 'slurm' ? 2 : 1)        }
        time   = { 4.h  * task.attempt * (executor.name == 'slurm' ? 2 : 1)     }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}
