/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:TRANSFORM_LABELS' {
        ext.dimensionality = params.labels_transform_dimensionality
        ext.first_suffix = params.labels_output_suffix
        ext.interpolation = params.labels_interpolation
        ext.output_dtype = params.labels_output_dtype
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("_warped.nii.gz") ) { (meta.age < 0.25 || meta.age > 18) ? "${meta.id}_${ses}space-DWI_seg-DK_dseg.nii.gz" : "${meta.id}_${ses}space-DWI_seg-BrainnetomeChild_dseg.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:CONNECTIVITY_DECOMPOSE' {
        ext.no_pruning = params.decompose_no_pruning
        ext.no_remove_loops = params.decompose_no_remove_loops
        ext.no_remove_outliers = params.decompose_no_remove_outliers
        ext.no_remove_curv = params.decompose_no_remove_curv
        ext.min_len = params.decompose_min_len
        ext.max_len = params.decompose_max_len
        ext.outlier_threshold = params.decompose_outlier_threshold
        ext.max_angle = params.decompose_max_angle
        ext.max_curv = params.decompose_max_curv
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }

    withName: '.*:FILTERING_COMMIT' {
        ext.para_diff = params.commit_para_diff
        ext.iso_diff = params.commit_iso_diff
        ext.perp_diff = params.commit_perp_diff
        ext.ball_stick = params.commit_ball_stick
        ext.commit2 = params.run_commit2
        ext.commit2_lambda = params.commit2_lambda
        ext.nbr_dir = params.commit_nbr_dir
        ext.shell_tolerance = params.dwi_shell_tolerance
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("commit.h5") ) { (meta.age < 0.25 || meta.age > 18) ? "${meta.id}_${ses}tract-wholebrain_seg-DK_desc-filtered_tractogram.h5" : "${meta.id}_${ses}tract-wholebrain_seg-BrainnetomeChild_desc-filtered_tractogram.h5" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:CONNECTIVITY_AFDFIXEL' {
        ext.sh_basis = params.fodf_sh_basis
        ext.length_weighting = params.afd_fixel_length_weighting
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("afd_fixel.h5") ) { (meta.age < 0.25 || meta.age > 18) ? "${meta.id}_${ses}tract-wholebrain_seg-DK_desc-preproc_tractogram.h5" : "${meta.id}_${ses}tract-wholebrain_seg-BrainnetomeChild_desc-preproc_tractogram.h5" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:CONNECTIVITY_METRICS' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CONNECTIVITY_VISUALIZE' {
        ext.name_axis = true
        ext.display_legend = true
        ext.exclude_zeros = true
        ext.nb_bins = 50
        ext.axis_text_size = 5
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
