/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:RECONST_FRF' {
        ext.fa = params.frf_fa
        ext.fa_min = params.frf_min_fa
        ext.nvox_min = params.frf_nvox_min
        ext.roi_radius = params.frf_roi_radius
        ext.dwi_shell_tolerance = params.dwi_shell_tolerance
        ext.max_dti_shell_value = params.frf_max_dti_shell_value
        ext.min_fodf_shell_value = params.frf_min_fodf_shell_value
        ext.fodf_shells = params.fodf_shells
        ext.dti_shells = params.dti_shells
        ext.b0_thr_extract_b0 = params.dwi_b0_threshold
        ext.set_method = params.frf_set_method
        ext.set_frf = true
        ext.manual_frf = params.frf_manual_frf

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("__frf.txt") ) { "${meta.id}_${ses}frf.txt" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:RECONST_FODF' {
        ext.dwi_shell_tolerance = params.dwi_shell_tolerance
        ext.min_fodf_shell_value = params.fodf_min_fodf_shell_value
        ext.fodf_shells = params.fodf_shells
        ext.b0_thr_extract_b0 = params.dwi_b0_threshold
        ext.sh_order = params.fodf_sh_order
        ext.sh_basis = params.fodf_sh_basis
        ext.set_method = params.fodf_set_method
        ext.relative_threshold = params.fodf_relative_threshold
        ext.fodf_metrics_a_factor = params.fodf_a_factor
        ext.fa_threshold = params.fodf_max_fa_threshold
        ext.md_threshold = params.fodf_min_md_threshold
        ext.processes = 4

        // ** FODF metrics to output ** //
        ext.peaks = true
        ext.peak_values = true
        ext.peak_indices = true
        ext.afd_max = true
        ext.afd_total = true
        ext.afd_sum = true
        ext.nufo = true
        ext.ventricles_mask = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("__fodf.nii.gz") ) { "${meta.id}_${ses}model-csd_param-sh_dwimap.nii.gz" }
                else if ( filename.contains("wm_fodf.nii.gz") ) { "${meta.id}_${ses}model-csd_param-wmsh_dwimap.nii.gz" }
                else if ( filename.contains("gm_fodf.nii.gz") ) { "${meta.id}_${ses}model-csd_param-gmsh_dwimap.nii.gz" }
                else if ( filename.contains("csf_fodf.nii.gz") ) { "${meta.id}_${ses}model-csd_param-csfsh_dwimap.nii.gz" }
                else if ( filename.contains("peaks.nii.gz") ) { "${meta.id}_${ses}model-csd_param-peaks_dwimap.nii.gz" }
                else if ( filename.contains("afd_total.nii.gz") ) { "${meta.id}_${ses}model-csd_param-afdtotal_dwimap.nii.gz" }
                else if ( filename.contains("nufo.nii.gz") ) { "${meta.id}_${ses}model-csd_param-nufo_dwimap.nii.gz" }
                else if ( filename.contains("afd_max.nii.gz") ) { "${meta.id}_${ses}model-csd_param-afdmax_dwimap.nii.gz" }
                else if ( filename.contains("afd_sum.nii.gz") ) { "${meta.id}_${ses}model-csd_param-afdsum_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
}
