/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scilus/sf_pediatric Nextflow GPU config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    // ** Eddy-related changes for GPU execution ** //
    withName: '.*:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY' {
        accelerator = 1
        clusterOptions = { "--gres=gpu:${params.gpu_type}:1" }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? '--nv'
                : ''
        }
        cpus = 1
        memory = 16.GB
        time = 4.h
        ext.eddy_cmd = "eddy"
        ext.slice_drop_correction = params.dwi_motion_and_eddy_restore_slices
        ext.prefix_topup = params.dwi_susceptibility_output_prefix
        ext.bet_topup_before_eddy_f = params.dwi_motion_and_eddy_bet_f_threshold
        ext.dilate_b0_mask_prelim_brain_extraction = 5
        ext.b0_thr_extract_b0 = params.dwi_b0_threshold
        ext.readout = params.dwi_susceptibility_readout
        ext.bet_prelim_f = params.dwi_motion_and_eddy_bet_f_threshold
        ext.encoding = params.dwi_susceptibility_encoding_dir
        ext.run_qc = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("bvec") ) { "${meta.id}_${ses}desc-preproc_dwi.bvec" }
                else if ( filename.contains("bval") ) {"${meta.id}_${ses}desc-preproc_dwi.bval"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    // ** Local tracking changes for GPU execution ** //
    withName: '.*:TRACKING_LOCALTRACKING' {
        accelerator = 1
        clusterOptions = { "--gres=gpu:${params.gpu_type}:1" }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? '--nv'
                : ''
        }
        cpus = 1
        memory = 16.GB
        time = 4.h
        ext.gpu_batch_size = 10000
        ext.enable_gpu = true
        ext.local_fa_tracking_mask_threshold = params.local_fa_tracking_mask_threshold
        ext.local_fa_seeding_mask_threshold = params.local_fa_seeding_mask_threshold
        ext.local_tracking_mask_type = params.local_tracking_mask_type
        ext.local_seeding_mask_type = params.local_seeding_mask_type
        ext.local_step = params.local_step
        ext.local_random_seed = params.local_random_seed
        ext.local_seeding = params.local_seeding_type
        ext.local_nbr_seeds = params.local_nbr_seeds
        ext.local_min_len = params.local_min_len
        ext.local_max_len = params.local_max_len
        ext.local_theta = params.local_theta
        ext.local_sfthres = params.local_sfthres
        ext.local_algo = params.local_algo
        ext.local_compress_value = params.local_compress_value
        ext.basis = params.fodf_sh_basis
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("local_tracking.trk") ) { "${meta.id}_${ses}tract-wholebrain_track-sdstream_tractogram.trk" }
                else if ( filename.contains("seeding_mask") ) { "${meta.id}_${ses}space-DWI_label-seeding_desc-local_mask.nii.gz" }
                else if ( filename.contains("tracking_mask") ) { "${meta.id}_${ses}space-DWI_label-tracking_desc-local_mask.nii.gz"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
}
