/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// ** For linting purposes, this files concatenates all the config files. ** //
includeConfig './t1_preprocessing.config'
includeConfig './t2_preprocessing.config'
includeConfig './dwi_preprocessing.config'
includeConfig './segmentation.config'
includeConfig './dti.config'
includeConfig './fodf.config'
includeConfig './registration.config'
includeConfig './tissues.config'
includeConfig './tracking.config'
includeConfig './fw_noddi.config'
includeConfig './bundleseg.config'
includeConfig './tractometry.config'
includeConfig './connectomics.config'
includeConfig './template.config'
includeConfig './qc.config'
