/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'NF_PEDIATRIC:PEDIATRIC:QC:QC_TISSUES' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:QC:QC_LABELS' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:QC:QC_METRICS' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:QC:QC_SHELL' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:QC:QC_TRACTOGRAM' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/figures/" : "${params.outdir}/${meta.id}/figures/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("coverage_overlay_mqc.png") ) { "${meta.id}__coverage_overlay_mqc.png" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:MULTIQC_SUBJECT' {
        ext.args   = { params.multiqc_title_subject ? "--title \"$params.multiqc_title_subject\"" : '' }
        ext.single_subject = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/multiqc/" : "${params.outdir}/${meta.id}/multiqc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NF_PEDIATRIC:PEDIATRIC:MULTIQC_GLOBAL' {
        ext.args   = { params.multiqc_title_global ? "--title \"$params.multiqc_title_global\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
