/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*:COREG' {
        ext.dimensionality = params.coreg_dimensionality
        ext.transform = params.coreg_transform
        ext.quick = params.coreg_quick
        ext.run_qc = true
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                def run = meta.run ? "run-${meta.run}_" : ""
                def anat_dir = meta.session ? "${meta.id}/${meta.session}/anat" : "${params.outdir}/${meta.id}/anat"
                def xfm_dir = meta.session ? "${meta.id}/${meta.session}/xfm" : "${params.outdir}/${meta.id}/xfm"
                def mov = filename.contains("T1w") ? "T1w" : filename.contains("T2w") ? "T2w" : null
                def fix = mov == "T1w" ? "T2w" : mov == "T2w" ? "T1w" : null

                // Files going to the anat directory
                if (filename.contains("warped.nii.gz")) { "${anat_dir}/${meta.id}_${ses}${run}space-${fix}_desc-preproc_${mov}.nii.gz" }
                // Files going to the xfm directory
                else if (filename.contains("forward1_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-${mov}_to-${fix}_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("backward0_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-${fix}_to-${mov}_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("versions.yml")) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:ANATTODWI' {
        ext.run_qc = true
        ext.suffix_qc = "registration_anattodwi"
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                def run = meta.run ? "run-${meta.run}_" : ""
                def anat_dir = meta.session ? "${meta.id}/${meta.session}/anat" : "${params.outdir}/${meta.id}/anat"
                def xfm_dir = meta.session ? "${meta.id}/${meta.session}/xfm" : "${params.outdir}/${meta.id}/xfm"

                // Files going to the anat directory
                if ( filename.contains("T1w_warped") ) { "${anat_dir}/${meta.id}_${ses}${run}space-DWI_desc-preproc_T1w.nii.gz" }
                else if ( filename.contains("T2w_warped") ) { "${anat_dir}/${meta.id}_${ses}${run}space-DWI_desc-preproc_T2w.nii.gz" }
                // Files going to the xfm directory
                else if (filename.contains("T1w_forward1_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-T1w_to-dwi_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("T1w_forward0_warp.nii.gz")) { "${xfm_dir}/${meta.id}_${ses}${run}from-T1w_to-dwi_mode-image_desc-warp_xfm.nii.gz" }
                else if (filename.contains("T1w_backward0_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-dwi_to-T1w_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("T1w_backward1_warp.nii.gz")) { "${xfm_dir}/${meta.id}_${ses}${run}from-dwi_to-T1w_mode-image_desc-warp_xfm.nii.gz" }
                else if (filename.contains("T2w_forward1_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-T2w_to-dwi_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("T2w_forward0_warp.nii.gz")) { "${xfm_dir}/${meta.id}_${ses}${run}from-T2w_to-dwi_mode-image_desc-warp_xfm.nii.gz" }
                else if (filename.contains("T2w_backward0_affine.mat")) { "${xfm_dir}/${meta.id}_${ses}${run}from-dwi_to-T2w_mode-image_desc-affine_xfm.mat" }
                else if (filename.contains("T2w_backward1_warp.nii.gz")) { "${xfm_dir}/${meta.id}_${ses}${run}from-dwi_to-T2w_mode-image_desc-warp_xfm.nii.gz" }
                else if (filename.contains("versions.yml")) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
    withName: '.*:TEMPLATETODWI' {
        ext.run_qc = true
        ext.prefix = "template"
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
}
