/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //** SEGMENTATION **//
    withName: '.*:SEGMENTATION:FASTSURFER' {
        ext.acq3T = params.acq3T
        ext.cerebnet = params.cerebnet
        ext.hypvinn = params.hypvinn
        ext.seg_only = false
        publishDir = [
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    if ( filename.contains("__final_t1.nii.gz") ) { "${meta.id}_${ses}desc-preproc_T1w.nii.gz" }
                    else if ( filename.contains("versions.yml") ) { null }
                    else { params.lean_output ? null : filename }
                }
            ]
        ]
    }

    // ** Nothing to set here ** //
    // withName: '.*:SEGMENTATION:RECONALLCLINICAL' {
    // }

    withName: '.*:SEGMENTATION:RECONALL' {
        publishDir = [
        [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("__final_t1.nii.gz") ) { "${meta.id}_${ses}desc-preproc_T1w.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
        ]
    }
    withName: '.*:SEGMENTATION:MCRIBS' {
        ext.surf = true
        ext.jointhresh = params.mcribs_jointhresh
        ext.fastcollision = params.mcribs_fastcollision
        ext.nopialoutside = params.mcribs_nopialoutside
        ext.cortical = true
        ext.aparcaseg = true
        ext.stats = true
        ext.seed = params.mcribs_seed
    }

    withName: '.*:SEGMENTATION:REGISTRATION_ANTSREGISTRATION' {
        ext.dimension = 3
        ext.transform = "s"
        ext.interpolation = "Linear"
    }

    withName: '.*:SEGMENTATION:REGISTRATION_ANTSAPPLYTRANSFORMS' {
        ext.dimensionality = 3
        ext.image_type = 0
        ext.interpolation = "NearestNeighbor"
        ext.output_dtype = "int"
    }

    // ** Nothing to set here ** //
    // withName: '.*:SEGMENTATION:ATLASES_FSLR2FSAVERAGE' {
    // }

    withName: '.*:SEGMENTATION:ATLASES_FSAVERAGE2SUBJECT' {
        publishDir = [
            [
                path: { params.fs_output_dir ?: "${params.outdir}/../freesurfer/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "_${meta.session}_" : ""
                    def run = meta.run ? "run-${meta.run}_" : ""
                    if ( filename.contains("_fs") ) { "${meta.id}${ses}${run}" }
                    else if ( filename.contains("versions.yml") ) { null }
                    else { params.lean_output ? null : filename }
                }
            ],
            [
                path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
                mode: params.publish_dir_mode,
                saveAs: {
                    filename ->
                    def ses = meta.session ? "${meta.session}_" : ""
                    def run = meta.run ? "run-${meta.run}_" : ""
                    if ( filename.contains("dseg.nii.gz") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_dseg.nii.gz" }
                    else if ( filename.contains("volume_subcortical") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_stat-subcortical.tsv" }
                    else if ( filename.contains("volume_lh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-left_stat-volume.tsv" }
                    else if ( filename.contains("volume_rh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-right_stat-volume.tsv" }
                    else if ( filename.contains("area_lh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-left_stat-surfacearea.tsv" }
                    else if ( filename.contains("area_rh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-right_stat-surfacearea.tsv" }
                    else if ( filename.contains("thickness_lh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-left_stat-thickness.tsv" }
                    else if ( filename.contains("thickness_rh") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_hemi-right_stat-thickness.tsv" }
                    else if ( filename.contains("dseg.tsv") ) { "${meta.id}_${ses}${run}seg-${params.atlas_name}_desc-labels_dseg.tsv" }
                    else if ( filename.contains("versions.yml") ) { null }
                    else { params.lean_output ? null : filename }
                }
            ]
        ]
    }
}
