/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*:WARPPROBSEG' {
        ext.dimensionality = 3
        ext.interpolation = "Linear"
        ext.run_qc = false
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("WM_probseg") ) { "${meta.id}_${ses}space-DWI_label-WM_probseg.nii.gz" }
                else if ( filename.contains("GM_probseg") ) { "${meta.id}_${ses}space-DWI_label-GM_probseg.nii.gz" }
                else if ( filename.contains("CSF_probseg") ) { "${meta.id}_${ses}space-DWI_label-CSF_probseg.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
    withName: '.*:TRACKINGMASKS' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("wm_mask") ) { "${meta.id}_${ses}space-DWI_label-WM_mask.nii.gz" }
                else if ( filename.contains("gm_mask") ) { "${meta.id}_${ses}space-DWI_label-GM_mask.nii.gz" }
                else if ( filename.contains("csf_mask") ) { "${meta.id}_${ses}space-DWI_label-CSF_mask.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }

    withName: '.*:FASTSEG' {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/anat/" : "${params.outdir}/${meta.id}/anat/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("mask_wm") ) { "${meta.id}_${ses}space-DWI_label-WM_desc-fastseg_mask.nii.gz" }
                else if ( filename.contains("mask_gm") ) { "${meta.id}_${ses}space-DWI_label-GM_desc-fastseg_mask.nii.gz" }
                else if ( filename.contains("mask_csf") ) { "${meta.id}_${ses}space-DWI_label-CSF_desc-fastseg_mask.nii.gz" }
                else if ( filename.contains("map_wm") ) { "${meta.id}_${ses}space-DWI_label-WM_desc-fastseg_probseg.nii.gz" }
                else if ( filename.contains("map_gm") ) { "${meta.id}_${ses}space-DWI_label-GM_desc-fastseg_probseg.nii.gz" }
                else if ( filename.contains("map_csf") ) { "${meta.id}_${ses}space-DWI_label-CSF_desc-fastseg_probseg.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
}
