/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:TRACTOMETRY:TRACTOGRAM_REMOVEINVALID" {
        ext.suffix = "ri"
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: ".*:TRACTOMETRY:BUNDLE_FIXELAFD" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: ".*:TRACTOMETRY:TRACTOGRAM_RESAMPLE" {
        ext.nb_points = params.nb_points
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: ".*:TRACTOMETRY:BUNDLE_CENTROID" {
        ext.nb_points = params.nb_points
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: ".*:TRACTOMETRY:BUNDLE_LABELMAP" {
        ext.nb_points = params.nb_points
        ext.colormap = params.colormap
        ext.hyperplane = params.use_hyperplane
        ext.manhattan = params.use_manhattan
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: ".*:TRACTOMETRY:BUNDLE_UNIFORMIZE" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/bundles/" : "${params.outdir}/${meta.id}/dwi/bundles/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                def run = meta.run ? "run-${meta.run}_" : ""
                if ( filename.contains("AC-labels") ) { "${meta.id}_${ses}${run}tract-AnteriorCommisure_track-sdstream_tractogram.trk" }
                else if ( filename.contains("AF-L") ) { "${meta.id}_${ses}${run}tract-ArcuateFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("AF-R") ) { "${meta.id}_${ses}${run}tract-ArcuateFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Fr-1") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumFrontal1_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Fr-2") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumFrontal2_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Oc") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumOccipital_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Pa") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumParietal_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Pr-Po") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumPrecentralPostcentral_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CC-Te") ) { "${meta.id}_${ses}${run}tract-CorpusCallosumTemporal_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-L-An") ) { "${meta.id}_${ses}${run}tract-CingulumAnterior_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-L-curve") ) { "${meta.id}_${ses}${run}tract-CingulumCurve_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-L-Po") ) { "${meta.id}_${ses}${run}tract-CingulumPosterior_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-L-labels") ) { "${meta.id}_${ses}${run}tract-Cingulum_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-R-An") ) { "${meta.id}_${ses}${run}tract-CingulumAnterior_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-R-curve") ) { "${meta.id}_${ses}${run}tract-CingulumCurve_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-R-Po") ) { "${meta.id}_${ses}${run}tract-CingulumPosterior_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("CG-R-labels") ) { "${meta.id}_${ses}${run}tract-Cingulum_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FAT-L") ) { "${meta.id}_${ses}${run}tract-FrontalAslantTract_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FAT-R") ) { "${meta.id}_${ses}${run}tract-FrontalAslantTract_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FPT-L-Brainstem") ) { "${meta.id}_${ses}${run}tract-FrontoPontineTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FPT-L-labels") ) { "${meta.id}_${ses}${run}tract-FrontoPontineTract_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FPT-R-Brainstem") ) { "${meta.id}_${ses}${run}tract-FrontoPontineTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FPT-R-labels") ) { "${meta.id}_${ses}${run}tract-FrontoPontineTract_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FX-L") ) { "${meta.id}_${ses}${run}tract-Fornix_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("FX-R") ) { "${meta.id}_${ses}${run}tract-Fornix_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("ICP-L") ) { "${meta.id}_${ses}${run}tract-InferiorCerebellarPeduncle_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("ICP-R") ) { "${meta.id}_${ses}${run}tract-InferiorCerebellarPeduncle_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("IFOF-L") ) { "${meta.id}_${ses}${run}tract-InferiorFrontoOccipitalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("IFOF-R") ) { "${meta.id}_${ses}${run}tract-InferiorFrontoOccipitalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("ILF-L") ) { "${meta.id}_${ses}${run}tract-InferiorLongitudinalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("ILF-R") ) { "${meta.id}_${ses}${run}tract-InferiorLongitudinalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("MCP") ) { "${meta.id}_${ses}${run}tract-MiddleCerebellarPeduncle_track-sdstream_tractogram.trk" }
                else if ( filename.contains("MdLF-L") ) { "${meta.id}_${ses}${run}tract-MiddleLongitudinalFascicle_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("MdLF-R") ) { "${meta.id}_${ses}${run}tract-MiddleLongitudinalFascicle_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("OR-ML-L") ) { "${meta.id}_${ses}${run}tract-OpticRadiationMeyersLoop_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("OR-ML-R") ) { "${meta.id}_${ses}${run}tract-OpticRadiationMeyersLoop_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("PC-labels") ) { "${meta.id}_${ses}${run}tract-PosteriorCommisure_track-sdstream_tractogram.trk" }
                else if ( filename.contains("POPT-L-Brainstem") ) { "${meta.id}_${ses}${run}tract-ParietoOccipitoPontineTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("POPT-R-Brainstem") ) { "${meta.id}_${ses}${run}tract-ParietoOccipitoPontineTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("POPT-L-labels") ) { "${meta.id}_${ses}${run}tract-ParietoOccipitoPontineTract_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("POPT-R-labels") ) { "${meta.id}_${ses}${run}tract-ParietoOccipitoPontineTract_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("PYT-L-Brainstem") ) { "${meta.id}_${ses}${run}tract-PyramidalTractBrainstem_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("PYT-R-Brainstem") ) { "${meta.id}_${ses}${run}tract-PyramidalTractBrainstem_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("PYT-L") ) { "${meta.id}_${ses}${run}tract-PyramidalTract_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("PYT-R") ) { "${meta.id}_${ses}${run}tract-PyramidalTract_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("SCP-L") ) { "${meta.id}_${ses}${run}tract-SuperiorCerebellarPeduncle_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("SCP-R") ) { "${meta.id}_${ses}${run}tract-SuperiorCerebellarPeduncle_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("SLF-L") ) { "${meta.id}_${ses}${run}tract-SuperiorLongitudinalFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("SLF-R") ) { "${meta.id}_${ses}${run}tract-SuperiorLongitudinalFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("UF-L") ) { "${meta.id}_${ses}${run}tract-UncinateFasciculus_hemi-left_track-sdstream_tractogram.trk" }
                else if ( filename.contains("UF-R") ) { "${meta.id}_${ses}${run}tract-UncinateFasciculus_hemi-right_track-sdstream_tractogram.trk" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
    withName: ".*:TRACTOMETRY:BUNDLE_STATS" {
        ext.density_weighting = params.density_weighting
        ext.normalize_weights = params.normalize_weights
        ext.length_stats = params.length_stats
        ext.endpoints = params.endpoints_stats
        ext.streamline_count = params.streamline_count
        ext.mean_std = params.means_std
        ext.volume = params.volume
        ext.streamline_count = params.streamline_count
        ext.volume_per_labels = params.volume_per_labels
        ext.mean_std_per_point = params.mean_std_per_point
        ext.lesions_stats = false
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                def run = meta.run ? "run-${meta.run}_" : ""
                if ( filename.contains("desc-mean_stats.tsv") ) { "${meta.id}_${ses}${run}desc-mean_stats.tsv" }
                else if ( filename.contains("desc-point_stats.tsv") ) { "${meta.id}_${ses}${run}desc-point_stats.tsv" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
}
