/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:TRACTOGRAM_REMOVEINVALID" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.suffix = "ri"
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:BUNDLE_FIXELAFD" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:TRACTOGRAM_RESAMPLE" {
        ext.nb_points = params.nb_points
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:BUNDLE_CENTROID" {
        ext.nb_points = params.nb_points
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:BUNDLE_LABELMAP" {
        ext.nb_points = params.nb_points
        ext.colormap = params.colormap
        ext.hyperplane = params.use_hyperplane
        ext.manhattan = params.use_manhattan
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.lean_output ? false : true
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:BUNDLE_UNIFORMIZE" {
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/bundles/" : "${params.outdir}/${meta.id}/dwi/bundles/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("AC_labels") ) { "${meta.id}_${ses}desc-AC.trk" }
                else if ( filename.contains("AF_L") ) { "${meta.id}_${ses}desc-AF_L.trk" }
                else if ( filename.contains("AF_R") ) { "${meta.id}_${ses}desc-AF_R.trk" }
                else if ( filename.contains("CC_Fr_1") ) { "${meta.id}_${ses}desc-CC_Fr_1.trk" }
                else if ( filename.contains("CC_Fr_2") ) { "${meta.id}_${ses}desc-CC_Fr_2.trk" }
                else if ( filename.contains("CC_Oc") ) { "${meta.id}_${ses}desc-CC_Oc.trk" }
                else if ( filename.contains("CC_Pa") ) { "${meta.id}_${ses}desc-CC_Pa.trk" }
                else if ( filename.contains("CC_Pr_Po") ) { "${meta.id}_${ses}desc-CC_Pr_Po.trk" }
                else if ( filename.contains("CC_Te") ) { "${meta.id}_${ses}desc-CC_Te.trk" }
                else if ( filename.contains("CG_L_An") ) { "${meta.id}_${ses}desc-CG_L_An.trk" }
                else if ( filename.contains("CG_L_curve") ) { "${meta.id}_${ses}desc-CG_L_curve.trk" }
                else if ( filename.contains("CG_L_Po") ) { "${meta.id}_${ses}desc-CG_L_Po.trk" }
                else if ( filename.contains("CG_L_labels") ) { "${meta.id}_${ses}desc-CG_L.trk" }
                else if ( filename.contains("CG_R_An") ) { "${meta.id}_${ses}desc-CG_R_An.trk" }
                else if ( filename.contains("CG_R_curve") ) { "${meta.id}_${ses}desc-CG_R_curve.trk" }
                else if ( filename.contains("CG_R_Po") ) { "${meta.id}_${ses}desc-CG_R_Po.trk" }
                else if ( filename.contains("CG_R_labels") ) { "${meta.id}_${ses}desc-CG_R.trk" }
                else if ( filename.contains("FAT_L") ) { "${meta.id}_${ses}desc-FAT_L.trk" }
                else if ( filename.contains("FAT_R") ) { "${meta.id}_${ses}desc-FAT_R.trk" }
                else if ( filename.contains("FPT_L_Brainstem") ) { "${meta.id}_${ses}desc-FPT_L_Brainstem.trk" }
                else if ( filename.contains("FPT_L_labels") ) { "${meta.id}_${ses}desc-FPT_L.trk" }
                else if ( filename.contains("FPT_R_Brainstem") ) { "${meta.id}_${ses}desc-FPT_R_Brainstem.trk" }
                else if ( filename.contains("FPT_R_labels") ) { "${meta.id}_${ses}desc-FPT_R.trk" }
                else if ( filename.contains("FX_L") ) { "${meta.id}_${ses}desc-FX_L.trk" }
                else if ( filename.contains("FX_R") ) { "${meta.id}_${ses}desc-FX_R.trk" }
                else if ( filename.contains("ICP_L") ) { "${meta.id}_${ses}desc-ICP_L.trk" }
                else if ( filename.contains("ICP_R") ) { "${meta.id}_${ses}desc-ICP_R.trk" }
                else if ( filename.contains("IFOF_L") ) { "${meta.id}_${ses}desc-IFOF_L.trk" }
                else if ( filename.contains("IFOF_R") ) { "${meta.id}_${ses}desc-IFOF_R.trk" }
                else if ( filename.contains("ILF_L") ) { "${meta.id}_${ses}desc-ILF_L.trk" }
                else if ( filename.contains("ILF_R") ) { "${meta.id}_${ses}desc-ILF_R.trk" }
                else if ( filename.contains("MCP") ) { "${meta.id}_${ses}desc-MCP.trk" }
                else if ( filename.contains("MdLF_L") ) { "${meta.id}_${ses}desc-MdLF_L.trk" }
                else if ( filename.contains("MdLF_R") ) { "${meta.id}_${ses}desc-MdLF_R.trk" }
                else if ( filename.contains("OR_ML_L") ) { "${meta.id}_${ses}desc-OR_ML_L.trk" }
                else if ( filename.contains("OR_ML_R") ) { "${meta.id}_${ses}desc-OR_ML_R.trk" }
                else if ( filename.contains("PC_labels") ) { "${meta.id}_${ses}desc-PC.trk" }
                else if ( filename.contains("POPT_L_Brainstem") ) { "${meta.id}_${ses}desc-POPT_L_Brainstem.trk" }
                else if ( filename.contains("POPT_R_Brainstem") ) { "${meta.id}_${ses}desc-POPT_R_Brainstem.trk" }
                else if ( filename.contains("POPT_L_labels") ) { "${meta.id}_${ses}desc-POPT_L.trk" }
                else if ( filename.contains("POPT_R_labels") ) { "${meta.id}_${ses}desc-POPT_R.trk" }
                else if ( filename.contains("PYT_L_Brainstem") ) { "${meta.id}_${ses}desc-PYT_L_Brainstem.trk" }
                else if ( filename.contains("PYT_R_Brainstem") ) { "${meta.id}_${ses}desc-PYT_R_Brainstem.trk" }
                else if ( filename.contains("PYT_L") ) { "${meta.id}_${ses}desc-PYT_L.trk" }
                else if ( filename.contains("PYT_R") ) { "${meta.id}_${ses}desc-PYT_R.trk" }
                else if ( filename.contains("SCP_L") ) { "${meta.id}_${ses}desc-SCP_L.trk" }
                else if ( filename.contains("SCP_R") ) { "${meta.id}_${ses}desc-SCP_R.trk" }
                else if ( filename.contains("SLF_L") ) { "${meta.id}_${ses}desc-SLF_L.trk" }
                else if ( filename.contains("SLF_R") ) { "${meta.id}_${ses}desc-SLF_R.trk" }
                else if ( filename.contains("UF_L") ) { "${meta.id}_${ses}desc-UF_L.trk" }
                else if ( filename.contains("UF_R") ) { "${meta.id}_${ses}desc-UF_R.trk" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
    withName: "NF_PEDIATRIC:PEDIATRIC:TRACTOMETRY:BUNDLE_STATS" {
        ext.density_weighting = params.density_weighting
        ext.normalize_weights = params.normalize_weights
        ext.length_stats = params.length_stats
        ext.endpoints = params.endpoints_stats
        ext.streamline_count = params.streamline_count
        ext.mean_std = params.means_std
        ext.volume = params.volume
        ext.streamline_count = params.streamline_count
        ext.volume_per_labels = params.volume_per_labels
        ext.mean_std_per_point = params.mean_std_per_point
        ext.lesions_stats = false
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("length_stats.json") ) { "${meta.id}_${ses}desc-length_stats.json" }
                else if ( filename.contains("desc-mean_stats.tsv") ) { "${meta.id}_${ses}desc-mean_stats.tsv" }
                else if ( filename.contains("desc-point_stats.tsv") ) { "${meta.id}_${ses}desc-point_stats.tsv" }
                else if ( filename.contains("endpoints_map_raw.json") ) { "${meta.id}_${ses}desc-endpoints_map_raw_stats.json" }
                else if ( filename.contains("endpoints_metric_stats.json") ) { "${meta.id}_${ses}desc-endpoints_metric_stats.json" }
                else if ( filename.contains("mean_std_stats.json") ) { "${meta.id}_${ses}desc-mean_std_stats.json" }
                else if ( filename.contains("volume.json") ) { "${meta.id}_${ses}desc-volume_stats.json" }
                else if ( filename.contains("volume_lesions.json") ) { "${meta.id}_${ses}desc-volume_lesions_stats.json" }
                else if ( filename.contains("streamline_count.json") ) { "${meta.id}_${ses}desc-streamline_count.json" }
                else if ( filename.contains("streamline_count_lesions.json") ) { "${meta.id}_${ses}desc-streamline_count_lesions.json" }
                else if ( filename.contains("volume_per_label.json") ) { "${meta.id}_${ses}desc-volume_per_label.json" }
                else if ( filename.contains("volume_per_label_lesions.json") ) { "${meta.id}_${ses}desc-volume_per_label_lesions.json" }
                else if ( filename.contains("mean_std_per_point_stats.json") ) { "${meta.id}_${ses}desc-mean_std_per_point.json" }
                else if ( filename.contains("lesions_stats.json") ) { "${meta.id}_${ses}desc-lesions_stats.json" }
                else if ( filename.contains("lesion_map") ) { "${meta.id}_${ses}desc-lesions_map.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.lean_output ? null : filename }
            }
        ]
    }
}
